.operationmanage-page {
    border-radius: 6px;
}

//产品相关页面 ProductManage
.contain-con {
    margin-bottom: 20px;
    .next-form-item-label {
        width: 180px;
    }
}

.contain-specon {
    margin-bottom: 20px;
    .next-form-item-label {
        width: 120px;
    }
}